<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ this.tabName.tab1 }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="16px">
  <ion-button (click)="fonctionNotif()">Notif</ion-button>
  <ion-button (click)="clearbadge()">testclear</ion-button>
  <ion-button (click)="getContacts()">Liste contacts</ion-button>
  <ion-button (click)="analy()">test analitycs</ion-button>

  <!--{{contactsList | json}}-->

  <ion-list *ngIf="contactsList">
    <ion-item *ngFor="let contact of contactsList">
      {{ contact._objectInstance.name.givenName }} </ion-item
    >|
  </ion-list>
  <ion-item class="itemEx" (click)="example()">Bet example</ion-item>
  <ion-fab-button (click)="go()">+</ion-fab-button>
</ion-content>
