<ion-header>
  <ion-toolbar ion-toolbar color="primary">
    <ion-title>
      {{ this.tabName.tab1 }}

    </ion-title>
    <ion-menu-button (click)="openEnd()" class="button button-icon button-clear ion-navicon"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="takePhoto()">Prendre une photo </ion-button>

  <img src="{{ itemToUpload }}" />

  <ion-button (click)="getxp()">get xp</ion-button>
  <ion-item>Level : {{ level }}</ion-item>
  <ion-item>xp : {{ xp }}</ion-item>
</ion-content>

