<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button routerDirection="Back"></ion-back-button>
    <ion-title>Bet Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button (click)="captureAudio()">Capture Audio</ion-button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item
      *ngFor="let file of mediaFiles"
      tappable
      (click)="play(file)"
      text-wrap
    >
      {{ file.name }}
      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
    </ion-item>
  </ion-list>
</ion-content>
